{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<form method="post" style="width: 40%;" class=" m-auto bb mt-5  shadow bb text-center rounded">
  <h1>{{type}}</h1>
  {% csrf_token %} {{form|crispy}}
  <button id="pro" type="submit" class="fw-bold  border-light btn btn-white mb-3 text-dark text-decoration-none">
    submit
  </button>
</form>

{% for i in data %}
<div class="card my-5 w-25 p-5 m-auto shadow-sm">
  <div class="card-body">
    <h5 class="card-title">{{i.title}}</h5>
    <p class="card-text">
      {{i.description}}
    </p>
  </div>
</div>
{% endfor %}
{% endblock %}